.container {
    justify-content: end;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--sw-yellow-dark-hex);
    padding: 1em;
}

select {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    text-align: start;
}

.inputGroup select option {
    border: none;
}