.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    border-radius: 1em;
    padding: 1rem;
}

.id {
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
    line-height: 1em;
    color: var(--text-color);
}

.title {
    font-size: 4rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--sw-yellow-hex);
}

.date {
    font-size: 1rem;
    text-align: start;
    color: var(--text-color-secondary);
}

.director,
.producer {
    font-size: 1.5em;
    color: var(--text-color);
}

.producerList li {
    list-style: none;
}

.producerList {
    padding: 0;
    margin: 0;
}