.container {
    border-radius: 1em;
    padding: 2rem;
    background-color: rgb(51, 51, 51);
    /* box-shadow: rgba(105, 105, 105, 0.2) 0px 0px 15px 10px; */
}

.header {
    display: flex;
    align-items: end;
    gap: 1em;
    margin: 1em 0;
    padding-bottom: 0.5em;
    /* border-bottom: 1px solid rgba(var(--sw-yellow-rgb), 0.1); */
}

.id,
.title,
.container {
    line-height: 1em;
}

.id {
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
    color: var(--sw-yellow-dark-hex);
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #d2d2d2eb;
    margin-bottom: 4px;
}

.date {
    font-size: 1rem;
    text-align: start;
    color: #d2d2d2b2;
}

.director {
    font-size: 1em;
}