:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/background.jpg');
  
  --sw-yellow-rgb: 255, 233, 31;
  --sw-yellow-hex: #ffe91f;
  --sw-yellow-dark-hex: #979155;

  --btn-primary: #ada54b;
  --btn-primary-hover: #928b3f;
  --btn-primary-active: #a39b48;

  --text-color: #d2d2d2;
  --text-color-secondary: #d2d2d29f;

  --btn-color: #f5f4f430;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}